.login-page{
    margin-top: 20px;
}
.login-page h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 52px;
}
.form-style{
    border: 1px solid black;
    width : 30%;
    margin : 30px auto;
    padding : 20px;
}
